[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.build/
.testPublish/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
bower_components/
node_modules/
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
node_modules
*launchSettings.json
*.orig
/src/SharpBatch/obj/Release/netstandard1.6
/test/LinkedAssemblyTest/obj/Release/netstandard1.6
/test/TestWebApplication/obj/Release/netcoreapp1.0
/src/SharpBatch.JSonSerializer/obj/Debug/netstandard1.6
*/obj/*
*/bin/*
/src/SharpBatch/obj/Debug/netstandard1.6
/src/SharpBatch.Abstraction/obj/Debug/netstandard1.6
/test/LinkedAssemblyTest/obj/Debug/netstandard1.6
/test/TestWebApplication/obj/Debug/netcoreapp1.0
/src/SharpBatch.Traking.Abstraction/obj/Debug/netstandard1.6
/src/SharpBatch.Traking.Memory/obj/Debug/netstandard1.6
/src/SharpBatch.Traking.Memory/obj/Debug/net451
/src/SharpBatch.Traking.Abstraction/obj/Debug/net451
/src/SharpBatch.JSonSerializer/obj/Debug/net451
/src/SharpBatch.Abstraction/obj/Debug/net451
/src/SharpBatch/obj/Debug/net451
/test/LinkedAssembly/obj
/test/WebApplication/obj
/src/SharpBatch.Traking.Memory/obj/Release
/src/SharpBatch.Traking.Abstraction/obj/Release
/src/SharpBatch.JSonSerializer/obj/Release
/src/SharpBatch.Abstraction/obj/Release
/src/SharpBatch/obj/Release/net451
*.log
/test/SharpBatchTest/obj/Debug
/test/SharpBatchTest/obj/release
/src/SharpBatch.Web/obj/Debug
/test/SharpBatchBenchmark/obj
