@inject SharpBatch.Tracking.Abstraction.ISharpBatchTracking trackingProvider
@{
    foreach(var item in trackingProvider.GetRunning())
    {
        <div>@item.BatchName</div>
        <div>@item.StartDate</div>
        <div>@item.MachineName</div>
        <div>@item.State.ToString()</div>
    }
}
