@page
@{
}
<SmallBox sb-smallbox-bgcolor="bg-aqua" sb-smallbox-icon="ion-play" sb-smallbox-url="/tracking/list/Running">
    <h3>150</h3>
    <p>Running Batch</p>
</SmallBox>
<SmallBox sb-smallbox-bgcolor="bg-aqua" sb-smallbox-icon="ion-checkmark-circled" sb-smallbox-url="/tracking/list/Stopped">
    <h3>150</h3>
    <p>Complete Batch</p>
</SmallBox>
<SmallBox sb-smallbox-bgcolor="bg-aqua" sb-smallbox-icon="ion-close-circled" sb-smallbox-url="/tracking/list/Error">
    <h3>150</h3>
    <p>Errors</p>
</SmallBox>