@using Microsoft.AspNetCore.Http
@model string[]
<ol class="breadcrumb">
    @{
        PathString partialPath = new PathString("/");
        for (var idx = 1; idx < Model.Count(); idx++)
        {
            if (idx == Model.Count())
            {
                <li class="active">@Model[idx]</li>
            }
            else
            {
                partialPath.Add($"/Model[idx]");
                <li><a href="@partialPath"><i class="fa"></i>@Model[idx]</a></li>
            }
        }
    }
</ol>