
<div class="row">
    <!-- Small boxes (Stat box) -->
    <div sb-smallbox-bgcolor="bg-aqua" sb-smallbox-icon="ion-bag" sb-smallbox-url="">
        <h3>150</h3>
        <p>New Orders</p>
    </div>
</div>
<div class="row">
    <div sb-infobox-bgcolor="bg-aqua" sb-infobox-icon="fa-envelope-o">
        <span class="info-box-text">Messages</span>
        <span class="info-box-number">123,4</span>
    </div>
</div>

    <div class="callout callout-info">
        <h4>Tip!</h4>
        <p>
            Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
            large screens because it prevents the site from stretching very wide.
        </p>
    </div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>