
<div class="row">
    <!-- Small boxes (Stat box) -->
    <SmallBox sb-smallbox-bgcolor="bg-aqua" sb-smallbox-icon="ion-stats-bars" sb-smallbox-url="">
        <h3>150</h3>
        <p>New Orders</p>
    </SmallBox>
    <SmallBox sb-smallbox-bgcolor="bg-green" sb-smallbox-icon="ion-bag" sb-smallbox-url="">
        <h3>53<sup style="font-size: 20px">%</sup></h3>
        <p>Bounce rate</p>
    </SmallBox>
</div>

<div class="row">
    <InfoBox sb-infobox-bgcolor="bg-aqua" sb-infobox-icon="fa-envelope-o">
        <InfoBoxText>Messages</InfoBoxText>
        <span class="info-box-number">123,4</span>
    </InfoBox>
</div>

<div class="row">
    <div class="col-md-6">
        <Box>
            <BoxHeader>
                <BoxTitle>Application Box</BoxTitle>
            </BoxHeader>
            <BoxBody>
                lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem
                lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem
                lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem lorem ipso dorem
            </BoxBody>
        </Box>
    </div>
</div>

<div class="row">
    <Box class="col-md-6 box-solid">
        <BoxBody>
            <GraphKnob class="col-xs-6 col-md-3" sb-Knob-Value="90" sb-Knob-Width="90" sb-Knob-Height="90" sb-Knob-Thickness="0.2" sb-Knob-Skin="tron" sb-Knob-Title="Value = '90%'" sb-Knob-fgColor="#3c8dbc"></GraphKnob>
            <GraphKnob class="col-xs-6 col-md-3" sb-Knob-Value="100" sb-Knob-Width="120" sb-Knob-Height="120" sb-Knob-Thickness="0.2" sb-Knob-Skin="tron" sb-Knob-Title="Value = '120%'" sb-Knob-fgColor="#3c8dbc" sb-knob-angleOffset="-125" sb-knob-angleArc="250"></GraphKnob>
            <GraphKnob class="col-xs-6 col-md-3" sb-Knob-Value="34" sb-Knob-Width="120" sb-Knob-Height="120" sb-Knob-Thickness="0.2" sb-Knob-Title="Value = '120%'" sb-Knob-fgColor="#3c8dbc" sb-knob-angleOffset="-125" sb-knob-angleArc="250"></GraphKnob>
        </BoxBody>
    </Box>
    
</div>

<div>
    <AppButton sb-AppBut-Badge="12" sb-AppBut-BadgeColor="bg-yellow" sb-AppBut-Img="fa-play" sb-AppBut-Label="Play"></AppButton>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-danger">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>

<div class="callout callout-info">
    <h4>Tip!</h4>
    <p>
        Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on
        large screens because it prevents the site from stretching very wide.
    </p>
</div>